.container {
    border: 2px solid black;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr) ;
    grid-template-rows: repeat(15, 50px);
}



.nav-bar{

   grid-column: 1/10;
   grid-row: 1/1; 
  
}

.deck-stats{
   grid-row: 3/4;
   grid-column: 7/9;
  
  
}

.deck-panel{
   
  grid-row: 9/12;
  grid-column: 2/9;
}


.add-button{

    grid-row: 8/9;
    grid-column: 2/3; 
}