.kanji-container-main {
    border: 2px solid black;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr) ;
    grid-template-rows: repeat(15, 50px);
}



.kanji-nav-bar{

   grid-column: 1/21;
   grid-row: 1/1; 
  
}

.kanji-deck-stats{
   grid-row: 3/4;
   grid-column: 13/19;
  
  
}

.kanji-deck-panel{
   
  grid-row: 9/12;
  grid-column: 2/9;
}


.kanji-add-button{

    grid-row: 9/10;
    grid-column: 7/8; 
}

.kanji-delete-button{

    grid-row: 9/10;
    grid-column: 14/15; 
}

.kanji-remove-button{
    grid-row: 8/9;
    grid-column: 8/9; 
    
}

.kanji-deck-list{
    display: grid;
   grid-template-columns: repeat(50, 1fr);
}

.kanji-deck-name{
    grid-column: 0/10;
    text-decoration: underline;
    
}

.kanji-deck-delete{
    grid-column:49/50;
    z-index: +3;
    color: 'red';
}

.card{
    grid-row: 9/10;
    grid-column: 9/12;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
  }
  
  .flip-card-back {
    background-color: white;
    color: black;
    font-size: 20px;
    transform: rotateY(180deg);
  }
  .kanji-img{
    width:"300px"; height:"500px"
  }

  .kanji-next{

    grid-row: 10/11;
    grid-column: 7/8; 
  }


  .kanji-previous{
     grid-row: 10/11;
    grid-column: 5/4;  
}

.kanji-align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}